{% extends "./base.html" %}
{%block title %}Gestion de Clientes{% endblock %}

{% block body %}
<div class="row">
    <a href="/crearCliente/" class="btn btn-danger">Nuevo Cliente</a>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Listado de Clientes</h2>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nit</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Contacto</th>
                        <th>Telefono</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list %}
                        {% for c in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{c.nit}}</td>
                                <td>{{c.nombre}}</td>
                                <td>{{c.email}}</td>   
                                <td>{{c.contacto}}</td>
                                <td>{{c.telefono}}</td>
                                <td><a href="/edicionCliente/{{c.id}}" class="btn btn-info">Editar</a></td>
                                <td><a href="/eliminarCliente/{{c.id}}" class="btn btn-danger btnEliminar">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <h2>No hay clientes creados!!</h2>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}