{% extends "./base.html" %}
{%block title %}Gestion de Tarifas{% endblock %}

{% block body %}
    <div class="row">
        <a href="/registrarTarifa/" class="btn btn-danger btnEliminar">Nueva Tarifa</a>
        <h2>Listado de Tarifas</h2>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Codigo</th>
                            <th>Cliente</th>
                            <th>Zona</th>
                            <th>Tipo Carro</th>
                            <th>Valor a Cobrar</th>
                            <th>Valor a Pagar</th>
                            <th>Estado</th>
                            <th colspan="">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                            {% for t in object_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{t.codigo}}</td>
                                    <td>{{t.Cliente}}</td>
                                    <td>{{t.zona}}</td>
                                    <td>{{t.tipo_carro}}</td>
                                    <td>{{t.valor_cobrar}}</td>
                                    <td>{{t.valor_pagar}}</td>
                                    <td>{{t.estado}}</td>
                                    <td><a href="/edicionTarifa/{{t.codigo}}" class="btn btn-info">Editar</a></td>
                                    <td><a href="/eliminarTarifa/{{t.codigo}}" class="btn btn-danger btnEliminar">Eliminar</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <h1>No Hay Tarifas Creadas</h1>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        
    </div>
{% endblock %}
{% block js_page %}
    <script src="static 'js/gestionTarifa.js'"></script>
{% endblock %}