{% extends "./base.html" %}
{%block title %}Gestion de Clientes{% endblock %}

{% block body %}

<div class="row">
    <a href="/crearZona/" class="btn btn-danger btnEliminar">Nueva</a>
        <div class="table-responsive py-2">
        <h2>Listado de Zonas</h2>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Zona</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list %}
                        {% for z in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{z.id}}</td>
                                <td>{{z.zona}}</td>
                                <td><a href="/edicionZona/{{z.id}}" class="btn btn-info">Editar</a></td>
                                <td><a href="/eliminarZona/{{z.id}}" class="btn btn-danger btnEliminar">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h1>No hay Zonas creadas</h1>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}