{% extends "./base.html" %}
{%block title %}Gestion de Tarifas{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong class="text-dark">{{message}}</strong>
                    </div>
                {% endfor %}
            {% endif%}
            <h2>Gestion de Tarifas</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/registrarTarifa/" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="codigo" 
                                    minlength="1" maxlength="5" required>
                            <input type="text" id="txtcliente" name="txtcliente" class="form-control mt-2" placeholder="cliente" 
                                    minlength="1" maxlength="50" required>
                            <input type="text" id="txtzona" name="txtzona" class="form-control mt-2" placeholder="zona" 
                                    minlength="1" maxlength="50" required>
                            <input type="text" id="txttipo_carro" name="txttipo_carro" class="form-control mt-2" placeholder="tipo_carro" 
                                    minlength="2" maxlength="50" required>
                            <input type="text" id="txtcobrar" name="txtcobrar" class="form-control mt-2" placeholder="valor_cobrar" 
                                    min="1" max="1000000" value="1" required>
                            <input type="text" id="txtpagar" name="txtpagar" class="form-control mt-2" placeholder="valor_pagar" 
                                    min="1" max="1000000" value="1" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h2>Listado de Tarifas</h2>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Codigo</th>
                            <th>Cliente</th>
                            <th>Zona</th>
                            <th>Tipo Carro</th>
                            <th>Valor a Cobrar</th>
                            <th>Valor a Pagar</th>
                            <th colspan="">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in tarifa %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{t.codigo}}</td>
                                <td>{{t.Cliente}}</td>
                                <td>{{t.zona}}</td>
                                <td>{{t.tipo_carro}}</td>
                                <td>{{t.valor_cobrar}}</td>
                                <td>{{t.valor_pagar}}</td>
                                <td><a href="/edicionTarifa/{{t.codigo}}" class="btn btn-info">Editar</a></td>
                                <td><a href="/eliminarTarifa/{{t.codigo}}" class="btn btn-danger btnEliminar">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
{% block js_page %}
{% endblock %}