{% extends "./base.html" %}

{% block title %}Inicio{% endblock %}

{% block css_page %}
 
{% endblock %}

{% block body %}
<div class="container-fluid row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="row">
      <div class="card" style="width: 8rem;">
        <a href="/operacion/">
          <img src="static/img/casa.png" class="img-thumbnail" alt="...">
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="card" style="width: 8rem;">
        <a href="/operacion/">
          <img src="static/img/transporte.png" class="img-thumbnail" alt="...">
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="card" style="width: 8rem;">
        <a href="/operacion/">
          <img src="static/img/mapas.png" class="img-thumbnail" alt="...">
        </a>
      </div>
    </div>
  </div>
 
</div>

{% endblock %}